 @import 'https://raw.githubusercontent.com/mimikins23/GTAmerica/master/stylesheet.css';

.gtamericaexpanded {
    font-family: 'gt_america_expanded', sans-serif;
    font-weight: 100;
    font-style: normal;
}

